Django<1.7
South
django-cas-ng
gunicorn
python-memcached
raven==5.0.0
nose
django-nose
django-haystack
django-celery
psycopg2
redis
django-debug-toolbar
pep8
pyflakes
fabric
django-grappelli<2.6.1
django-adminplus
django-sortedm2m==0.8.1
django-pagedown==0.1.0
html2text==2014.9.25
pytest
pytest-django
pytest-cov
pytest-xdist
elastic-git>=1.0.2
unicore-cms==1.8.0
python-slugify==0.1.0
django-thumborstorage==0.91.6
thumbor==4.6.0
libthumbor==1.0.1
tornado==3.2.2
django-taggit==0.12.2
django-taggit-live==0.0.6
unicore.content==1.0.4
unicore.google==0.0.1
unicore.distribute==0.0.6
unicore.hub.client==0.2.0
gitdb==0.6.4
pycountry==1.10
requests==2.5.3
pytz==2015.2
