Django<1.7
South
gunicorn
python-memcached
raven
nose
django-nose
django-haystack
django-celery
psycopg2
redis
django-debug-toolbar
pep8
pyflakes
fabric
django-grappelli<2.6.1
django-adminplus
praekelt-python-gitmodel==0.1.3
unicore-gitmodels==1.5.0
django-sortedm2m==0.8.1
