{% extends "admin/change_form.html" %}
{% load admin_static i18n admin_modify admin_urls grp_tags %}
{% load admin_urls %}

{% block stylesheets %}
{{ block.super }}
{% if sourceform %}
<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
{% endif %}
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    {% if has_add_permission %}
        {% url 'admin:cms_post_add' as add_url %}
        <li><a href="{% add_preserved_filters add_url %}?source={{object_id}}" class="addlink">{% trans "Translate" %}</a></li>
    {% endif %}
{% endblock %}


<!-- CONTENT -->
{% block content %}
    <div class="translation-form">
    {{ block.super }}
    </div>

    {% if sourceform %}
    {% with adminform=sourceform %}
    <div class="source-form">
    <form>
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            <!-- No Submit-Row on Top -->

            <!-- Errors -->
            {% if errors %}
                <p class="errornote">{% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
                <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <!-- Fieldsets -->
            {% block field_sets %}
                {% for fieldset in adminform %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
            {% endblock %}

            {% block after_field_sets %}
            {% if not content_repositories.empty %}
                {% for content_repo in content_repositories %}
                    {% if not content_repo.targets.empty %}
                        This content will be published under the
                        <a href="{% url 'admin:cms_contentrepository_change' content_repo.pk %}">{{content_repo.get_license_display}}</a>
                        to the following publishing targets:
                        {{ content_repo.targets.all|join:', ' }}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endblock %}

            <!-- Inlines -->
            {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                {% endfor %}
            {% endblock %}

            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}

            {% if sourceform %}
            <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    $('.source-form div.c-1').remove();
                    $('.source-form form input').attr('disabled', 'disabled').removeAttr('id').removeAttr('name'); //Disable
                    $('.source-form form textarea').attr('readonly', 'true').removeAttr('id').removeAttr('name'); //Disable
                    $('.source-form #id_primary_category').parent().html('<div class="c-2"><input type="text" disabled="disabled" value="{{sourceform.form.instance.primary_category|default_if_none:""}}"/></div>');
                    $('.source-form #id_language').parent().html('<div class="c-2"><input type="text" disabled="disabled"value="{{sourceform.form.instance.language|default_if_none:""}}"/></div>');
                    $('.source-form form').fadeIn();
                });
            })(grp.jQuery);
        </script>
            {% endif %}

        </div>
    </form>
    </div>
    {% endwith %}
    {% endif %}
{% endblock %}
